<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  
  <div class="title_line">
    책 <span th:if="${word != null and word != ''}" th:text="|${word} ${search_cnt} 건|"></span>
  </div>  
  <aside class="aside_right">
    <a href="javascript: location.reload();">새로 고침</a>
  </aside>

  <!--/* /cate/list_search_com.html의 list_search_fragment를 include */-->
  <div th:replace="~{book/list_search_com::list_search_fragment}"></div>

  <div class="menu_line"></div>
  
  <div class="flex_div_center" style="width: 90%; margin: 0px auto;">  
    <form name="frm" method="post" action="/book/create" th:object="${bookVO}">
      <input type="hidden" name="word" th:value="${word}"> <!--/* 값 유지 */-->

      <div style="margin-right: 2px; width: 22%; float: left;">
        <input type="text" name="author" value="" autofocus="autofocus"
               class="form-control" style="width: 100%;" th:field="*{author}" placeholder="저자">
      </div>

      <div style="margin-right: 2px; width: 32%; float: left;">
        <input type="text" name="title" value="" autofocus="autofocus"
               class="form-control" style="width: 100%;" th:field="*{title}" placeholder="제목">
      </div>

      <div style="margin-right: 2px; width: 22%; float: left;">
        <input type="text" name="publisher" value="" autofocus="autofocus"
               class="form-control" style="width: 100%;" th:field="*{publisher}" placeholder="출판사">
      </div>

      <div style="margin-right: 2px; width: 22%; float: left;">
        <input type="date"
               class="form-control"
               style="width: 100%;"
               th:field="*{published_date}" />
      </div>

      <div style="margin-right: 2px; width: 13%; float: left;">
        <input type="number" name="seqno" value="" min="1" max="1000000" step="1"
               class="form-control" style="width: 100%;" th:field="*{seqno}" placeholder="출력 순서">
      </div>
      <div style="margin-right: 2px; width: 15%; float: left;">
        <select id="visible" name="visible" class="form-control">
          <option value="출력 모드" selected="selected">출력 모드</option>
          <option value="Y" selected>Y</option>
          <option value="N">N</option>
        </select>
      </div>
      <div style="margin-right: 2px; width: 13%; float: left; margin-top: 3px; margin-left: 5px;">
        <button type="submit" class="btn btn-secondary btn-sm">등록</button>
        <button type="reset" class="btn btn-secondary btn-sm">취소</button>
      </div>
      
    </form>
  </div>  

  <!--/* 
  전체 레코드, 검색 레코드
  list_all_com.html의 list_all_fragment를 include */-->
  <div th:replace="~{book/list_all_com::list_all_fragment}"></div>
  
</div>
</html>

