<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class="title_line">책 조회</div>
  <aside class="aside_right">
    <a href="javascript: location.reload();">새로 고침</a> 
    <span class="menu_divide">|</span>
    <a th:href="@{|/book/list_search|}">목록</a> 
    <span class="menu_divide">|</span>
    <a th:href="@{|/book/update/${bookVO.bookno}?word=${word}&now_page=${now_page}|}">수정</a>
    <span class="menu_divide">|</span>
    <a th:href="@{|/book/delete/${bookVO.bookno}?word=${word}&now_page=${now_page}|}">삭제</a> 
    <span class="menu_divide">|</span>
    <a th:href="@{|/book/create|}">등록</a>
  </aside>
  
  <div th:replace="~{book/list_search_com::list_search_fragment}"></div>
  
  <div class="menu_line"></div>

  <div class="container mt-3"> <!--/* mt-3: margin top 16px */-->
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        저자: <span th:text="${bookVO.author}" style="margin-right: 20px;"></span>
        책 제목: <span th:text="${bookVO.title}" ></span>
      </li>
      <li class="list-group-item">
        번호: <span th:text="${bookVO.bookno}" style="margin-right: 20px;"></span>
        출판사: <span th:text="${bookVO.publisher}" style="margin-right: 20px;"></span>
        출판일: <span th:text="${bookVO.published_date}" style="margin-right: 20px;"></span>
        조회수: <span th:text="${bookVO.cnt}" style="margin-right: 20px;"></span>
        
      </li>
      <li class="list-group-item">
        등록일: <span th:text="${bookVO.created_at}" style="margin-right: 20px;"></span>
        출력순서: <span th:text="${bookVO.seqno}" style="margin-right: 20px;"></span>
        출력모드: <span th:text="${bookVO.visible}" style="margin-right: 20px;"></span>
      </li>
    </ul>  
  </div>

  <div th:replace="~{book/list_all_com::list_all_fragment}"></div> 

</div>
</html>