<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">

  <div class='title_line'>
    <span th:text="${bookVO.author}" class="title_line_text"></span >
    > <span th:text="${bookVO.title}" class="title_line_text"></span >
    <span th:if="${word != ''}" th:text="|> ${word} (${search_count} 건)|" class="title_line_text"></span>
  </div>

  <aside class="aside_right">
    <span th:if="${session.grade == 'admin'}">
      <a th:href="@{|/record/create?bookno=${bookVO.bookno}|}">등록</a>
      <span class="menu_devide">│</span>    
    </span>
    
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span>    
    <a th:href="@{|./list_by_bookno?bookno=${bookVO.bookno }&word=${word }&now_page=${now_page}|}">목록형</a>    
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_bookno_grid?bookno=${bookVO.bookno }&word=${word }&now_page=${now_page}|}">갤러리형</a>
    
  </aside> 

  <!-- /record/list_search_component.html 파일의 list_search_fragment import -->
  <div th:replace="~{record/list_search_com::list_search_fragment}"></div>
     
  <div class='menu_line'></div>
       
  <table class="table table-striped" style='width: 100%;'>
    <colgroup>
      <col style='width: 10%;'/>
      <col style='width: 80%;'/>
      <col style='width: 10%;'/>
    </colgroup>
    <tr>
      <th class='th_bs'>파일</TH>
      <th class='th_bs'>제목</th>
      <th class='th_bs'>댓글 수</th>
    </tr>
   
    <tr th:if="${list.size() > 0}" th:each="recordVO, status:${list}" 
         th:attr="onclick=|location.href='/record/read?recordno=${recordVO.recordno}&word=${word}&now_page=${now_page}'|"
         style="cursor: pointer; height: 90px;">
      <td class='td_basic' style="vertical-align: middle; text-align: center;">
        <div th:if="${recordVO.file1.endsWith('jpg') or recordVO.file1.endsWith('png')  or recordVO.file1.endsWith('gif') or recordVO.file1.endsWith('jpeg')}">
          <img th:src="@{|/record/storage/${recordVO.thumb1}|}" style="width: 120px; height: 90px;">
        </div>

        <div th:if="${((recordVO.file1.endsWith('jpg') or recordVO.file1.endsWith('png')  or recordVO.file1.endsWith('gif') or recordVO.file1.endsWith('jpeg')) == false) and (recordVO.size1 > 0)}">
          <span th:text="${recordVO.file1}"></span>
        </div>

        <div th:if="${recordVO.size1 == 0}">
          <img src="/record/images/none1.png" style="width: 120px; height: 90px;">
        </div>
                
      </td>
      </td>
      <td class='td_left'>
        <span th:text="${recordVO.title}" style="font-weight: bold;"></span>
        <span th:text="| ${recordVO.rdate.substring(0, 10)}|"></span><br>

        <span th:if="${recordVO.record.length() > 160 }" 
                  th:text="|${recordVO.record.substring(0, 160) }...|"></span>
        <span th:if="${recordVO.record.length() <= 160 }" 
                  th:text="|${recordVO.record}|"></span>
        
      </td>
      <td class='td_left'>
        <span th:text="${recordVO.replycnt}" style="font-weight: bold;"></span>
      </td>
    </tr>

    <tr th:if="${list.size() == 0}">
      <td colspan="2" style="text-align: center;">관련 글이 등록되지 않았습니다.</td>
    </tr> 

  </table>
   
  <!-- 페이지 버튼 목록 출력 시작 -->
  <div class="bottom_menu" th:utext="${paging}"></div>
  <!-- 페이지 버튼 목록 출력 종료 --> 

</div>
</html>
 