<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">

  <div class='title_line'>전체 글 목록</div>

  <aside class="aside_right">
    <a href="javascript:location.reload();">새로고침</a>
  </aside> 
   
  <div class='menu_line'></div>
       
  <table class="table table-striped" style='width: 100%;'>
    <colgroup>
      <col style='width: 10%;'/>
      <col style='width: 90%;'/>
    </colgroup>
    <tr>
      <th class='th_bs'>파일</TH>
      <th class='th_bs'>제목</th>
    </tr>
   
    <tr th:each="recordVO, status:${list}" 
         th:attr="onclick=|location.href='/record/read?recordno=${recordVO.recordno}'|"
         style="cursor: pointer;">
      <td class='td_basic' th:text="${recordVO.file1}"></td>
      <td class='td_left'>
        <span th:text="${recordVO.title}" style="font-weight: bold;"></span><br>
        <span th:if="${recordVO.record.length() > 160 }" 
                  th:text="|${recordVO.record.substring(0, 160) }...|"></span>
        <span th:if="${recordVO.record.length() <= 160 }" 
                  th:text="|${recordVO.record}|"></span>

      </td>
    </tr>
  </table>
   
  <div class='bottom_menu'>
    <button type='button' onclick="location.reload();" class="btn btn-primary btn-sm">새로 고침</button>
  </div>

</div>
</html>