<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class='title_line'>
    <span th:text="${bookVO.author }" class="title_line_text"></span > 
    > <span th:text="${bookVO.title}" class="title_line_text"></span > 
    > 파일 수정
  </div>
  
  <aside class="aside_right">
    <a th:href="@{|./create?bookno=${bookVO.bookno }|}">등록</a>
    <span class='menu_divide' >│</span>
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_bookno_search_paging?bookno=${bookVO.bookno }|}">기본 목록형</a>    
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_bookno_grid?bookno=${bookVO.bookno }|}">갤러리형</a>
  </aside>
  
  <div class='menu_line'></div>
  
  <fieldset class="fieldset_basic">
    <ul>
      <li class="li_none">
        <div th:if="${recordVO.file1.endsWith('jpg') or recordVO.file1.endsWith('png') or recordVO.file1.endsWith('gif') or recordVO.file1.endsWith('jpeg')}"
               style="text-align: center; width: 50%; float: left;">
          <img th:src="@{|/record/storage/${recordVO.file1saved}|}" style="width: 90%;">
        </div>

        <div th:if="${((recordVO.file1.endsWith('jpg') or recordVO.file1.endsWith('png')  or recordVO.file1.endsWith('gif') or recordVO.file1.endsWith('jpeg')) == false) and (recordVO.size1 > 0)}"
               class="display_table" style="float: left; width: 50%;">
            <div class="display_table_cell">
              <span th:text="${recordVO.file1}"></span>
            </div>
        </div>

        <div th:if="${recordVO.size1 == 0}" style="text-align: center; width: 50%; float: left;">
          <img src="/record/images/none1.png" style="width: 90%;">
        </div>
  
        <div style='text-align: left; width: 47%; float: left;'>
          <span style='font-size: 1.5em;' th:text="${recordVO.title}"></span>
          <br>
          <form name='frm' method='POST' action='./update_file' enctype="multipart/form-data">
            <input type="hidden" name="bookno" th:value="${bookVO.bookno }">
            <input type="hidden" name="recordno" th:value="${recordVO.recordno }">
            <input type="hidden" name="now_page" th:value="${now_page}">
            <input type="hidden" name="search_word" th:value="${word}">
                
            <br><br> 
            변경 이미지 선택<br>  
            <input type='file' name='file1MF' id='file1MF' value='' placeholder="파일 선택"><br>
            <br>
            <div style='margin-top: 20px; clear: both;'>  
              <button type="submit" class="btn btn-secondary btn-sm">파일 변경 처리</button>
              <button type="submit" class="btn btn-secondary btn-sm">파일 삭제</button>
              <button type="button" onclick="history.back();" class="btn btn-secondary btn-sm">취소</button>
            </div>  
          </form>
        </div>
      </li>
    </ul>
  </fieldset>  

</div>

</html>