<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">

  <div class='title_line'>
    일정 등록
  </div>
  
  <aside class="aside_right">
    <a th:href="@{|./create|}">등록</a>
    <span class='menu_divide' >│</span>
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_all|}">기본 목록형</a>    
  </aside>
  
  <div class='menu_line'></div>
  
  <form name='frm' method='post' action='/calendar/create'>   
    <div>
      <label>출력할 날짜</label>
      <input type='date' name='labeldate' value='' required="required" 
            autofocus="autofocus" class="form-control" style='width: 100%;'>
    </div>
    <div>
      <label>달력에 출력될 레이블</label>
      <input type='text' name='label' value='' required="required" 
              autofocus="autofocus" class="form-control" style='width: 100%;'>
    </div>
    <div>
       <label>제목</label>
       <input type='text' name='title' value='' required="required" 
                 autofocus="autofocus" class="form-control" style='width: 100%;'>
    </div>
    <div>
       <label>글 내용</label>
       <textarea name='content' required="required" class="form-control" rows="12" style='width: 100%;'></textarea>
    </div>
    <div>                
      <label>출력 순서</label>
      <input type="number" name="seqno" value="1" min="1" step="1"
             class="form-control" style="width: 50%;">   
    </div>

    <div class="content_body_bottom">
      <button type="submit" class="btn btn-secondary btn-sm">등록</button>
      <button type="button" th:attr="onclick=|location.href='./list_all'|" class="btn btn-secondary btn-sm">목록</button>
    </div>
  
  </form>

</div>

