<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">

  <div class='title_line'>
    일정 삭제
  </div>
  
  <aside class="aside_right">
    <a th:href="|javascript:location.reload();|">새로고침</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|/calendar/list_all|}">목록</a>    
    <span class='menu_divide' >│</span>
    <a th:href="@{|/calendar/create|}">등록</a>
  </aside>
  
  <div class='menu_line'></div>
  
  <fieldset class="fieldset_basic">
    <ul>
      <li class="li_none">
        <div style='text-align: center;'>
          <span style='font-size: 1.5em;' th:text="${calendarVO.title}"></span>
          <br>
          <form name='frm' method='post' action='/calendar/delete'>
            <input type="hidden" name="calendarno" th:value="${calendarVO.calendarno }">
                
            <br> 
            <div style='margin-top: 20px; clear: both;'>
              <span style="color: #FF0000; font-weight: bold;">삭제를 진행 하시겠습니까? 삭제하시면 복구 할 수 없습니다.</span>
              <br><br><br>  
              <button type="submit" class="btn btn-secondary btn-sm">삭제</button>
              <button type="button" onclick="history.back();" class="btn btn-secondary btn-sm">취소</button>
            </div>  
          </form>
        </div>
      </li>
    </ul>
  </fieldset>  

</div>
</html>
