<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->

<div layout:fragment="content">
  <script>
    window.onload = () => {
      
    }
    
    function send() { // 회원 가입 처리
      document.getElementById('frm').submit(); // required="required" 작동 안됨.
    }    
  </script>

  <div class="title_line">기록자 정보 조회 및 수정(*: 필수) > <span th:text="@{|${reviewerVO.reviewername} (${reviewerVO.reviewerid})|}"></span></div>
  <aside class="aside_right">
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span> 
    <a href='./create'>기록자 가입</a>
    <span class='menu_divide' >│</span> 
    <a href='./list'>목록</a>
  </aside> 

  <div class='menu_line'></div>
  
  <div style="width: 60%; margin: 0px auto ">
    <form name="frm" id="frm" th:object="${reviewerVO}" method="post" action="/reviewer/delete">
      <input type="hidden" name="reviewerno" th:value="${reviewerVO.reviewerno}">
      
      <div class="msg_warning">기록자 정보는 삭제하면 복구 할 수 없습니다.<br>그래도 삭제하시겠습니까?</div>
      <div style='text-align: center;'>기록자 이름: <span th:text="${reviewerVO.reviewername}"></span></div>
      
      <div class="content_body_bottom">
        <button type="button" onclick="send();" class="btn btn-secondary btn-sm">삭제</button>
        <button type="button" onclick="history.back();" class="btn btn-secondary btn-sm">취소</button>
      </div>

    </form>
  </div>
    
</div>
</html>