<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
<script>
  window.onload = () => {
    document.querySelector('#reviewerid').addEventListener('keypress', (event) => {
      // document.getElementById('passwd').addEventListener('keypress', (event) => {
        if(event.key === 'Enter') { // ===: 타입까지 확인
          document.getElementById('reviewerpasswd').focus();
        }
      }); 
  
      document.querySelector('#reviewerpasswd').addEventListener('keypress', (event) => {
      // document.getElementById('passwd').addEventListener('keypress', (event) => {
        if(event.key === 'Enter') {
          send(); // 바로 로그인 시도
        }
      }); 

  }
  
  function send() { // 회원 가입 처리
    let id = document.getElementById('reviewerid');
    let id_msg = document.getElementById('id_msg');

    if (id.value.trim().length == 0) {
      id_msg.innerHTML= 'ID 입력은 필수 입니다. ID(이메일)는 3자이상 권장합니다.';
      id_msg.classList.add('span_warning');    // class 적용
      passwd.focus();

      return false;  // 로그인 진행 중지
      
    }

    let passwd = document.getElementById('reviewerpasswd');
    let passwd_msg = document.getElementById('passwd_msg');

    if (passwd.value.trim().length == 0) {
      passwd_msg.innerHTML= '패스워드 입력은 필수 입니다. 패스워드는 8자이상 권장합니다.';
      passwd_msg.classList.add('span_warning');    // class 적용
      passwd.focus();

      return false;  // 로그인 진행 중지
      
    }

    document.getElementById('frm').submit(); // required="required" 작동 안됨.
  }    
</script>



  <div class="title_line">로그인(*: 필수)</div>
  <aside class="aside_right">
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span> 
    <a href='./create'>회원 가입</a>
    <span class='menu_divide' >│</span> 
    <a href='./list'>목록</a>
  </aside> 

  <div class='menu_line'></div>
  
  <div style="width: 30%; margin: 0px auto ">
    <form name="frm" id="frm" th:object="${reviewerVO}" method="post" action="/reviewer/login">
      <div>
        <label for="id">아이디(이메일)*</label>
        <input type="text" name="reviewerid" id="reviewerid" value="" autofocus="autofocus"
               class="form-control fom-control-sm" style="width: 100%;">
        <span id='id_msg'></span>  
      </div>
      
      <div class="form-group">
        <label for="passwd">패스워드*</label> 
        <input type='password' name='reviewerpasswd' id='reviewerpasswd' value='' required="required" 
                  placeholder="패스워드" class="form-control form-control-sm" style="width: 100%;">
        <span id='passwd_msg'></span>
      </div>

      <div class="content_body_bottom">
        <button type="button" onclick="send();" class="btn btn-secondary btn-sm">로그인</button>
        <button type="button" onclick="history.back();" class="btn btn-secondary btn-sm">취소</button>
      </div>


    </form>
  </div>
    
</div>
</html>