<div th:fragment="navbarFragment">
  <div class="top_menu_img">
    <div class="top_menu_label"></div>
  </div>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">책책</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        
      <!-- 메뉴 시작 -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown" th:each="bookVOMenu:${menu}"> <!--/* 대분류 */-->
            <!--/* 대분류명(카테고리 그룹) 출력, private String genre; */-->
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                  role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${bookVOMenu.author}">                                                            
            </a>  

            <!--/* 중분류명(카테고리) 출력, private ArrayList<CateVO> list_name; */-->
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li th:each="bookVO:${bookVOMenu.list_name}">
                  <a class="dropdown-item" th:href="@{|/record/list_by_bookno?bookno=${bookVO.bookno}|}" th:text="${bookVO.title}"></a>
                </li>
            </ul>              
          </li>

          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                  role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="회원">                                                            
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li class="nav-item">
                      <a class="nav-link" th:href="@{|/reviewer/create|}">회원 가입</a>
                  </li>
                  <li class="nav-item" th:if="${session.reviewerno != null}">
                      <a class="nav-link" th:href="@{|/reviewer/passwd_update|}">비밀 번호 변경</a>
                  </li>  
              </ul>
          </li>
          <li class="nav-item"><a class="nav-link" th:href="@{|/calendar/list_calendar|}">독서일정 Calendar</a></li>
          <li class="nav-item"><a class="nav-link" th:href="@{|/memo/list_all|}">공지사항</a></li>
          <li class="nav-item dropdown" th:if="${session.grade=='admin'}">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                      role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="관리자">                                                            
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li class="nav-item"><a class="nav-link" th:href="@{|/book/list_search?word=${word}|}">책 목록</a></li>
                  <li class="nav-item"><a class="nav-link" th:href="@{|/reviewer/list|}">기록자 목록</a></li>
                  <li class="nav-item"><a class="nav-link" th:href="@{|/record/list_all|}">전체 글 목록</a></li>
                  <li class="nav-item"><a class="nav-link" th:href="@{|/calendar/create|}">일정 등록</a></li>
                  <li class="nav-item"><a class="nav-link" th:href="@{|/calendar/list_all|}">일정 목록</a></li>
                  <li class="nav-item"><a class="nav-link" th:href="@{|/recordgood/list_all|}">추천 목록</a></li>
              </ul>
          </li>
          
          <li class="nav-item">
            <span th:if="${session.reviewerno == null}"><a class="nav-link" href="/reviewer/login" th:text="로그인"></a></span>
            <span th:if="${session.reviewerno != null}"><a class="nav-link" href="/reviewer/logout" th:text="|${session.reviewerid} 로그아웃|"></a></span>
          </li>                
        </ul>
      </div>
      <!-- 메뉴 종료 -->
          
    </div>  
  </nav>
</div>