<!--/* 
<div th:replace="~{recordgood/list_all_com::list_all_fragment}"></div> 
'/recordgood/list_all_com.html' 파일의 list_all_fragment를 가져다 사용
*/-->
<div th:fragment="list_all_fragment"> 
  <table class="table table-hover" style="width: 100%;">
    <colgroup>
      <col style='width: 10%;'/>
      <col style='width: 20%;'/>
      <col style='width: 10%;'/>
      <col style='width: 20%;'/>    
      <col style='width: 10%;'/>
      <col style='width: 10%;'/>
      <col style='width: 10%;'/>
      <col style='width: 10%;'/>
    </colgroup>
    <thead>
      <tr>
        <th class="th_bs">순서</th>
        <th class="th_bs">등록일(추천일)</th>
        <th class="th_bs">독서기록 번호</th>
        <th class="th_bs">제목</th>
        <th class="th_bs">회원 번호</th>
        <th class="th_bs">아이디(이메일)</th>
        <th class="th_bs">성명</th>        
        <th class="th_bs">기타</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="recordRecordgoodReviewerVO, status:${list}">
        <td class="td_bs" th:text="|${status.index+1}|"></td>
        <td class="td_bs" th:text="${recordRecordgoodReviewerVO.rdate.substring(0, 10)}"></td>
        <td class="td_bs" th:text="${recordRecordgoodReviewerVO.recordno}"></td>
        <td class="td_bs" th:text="${recordRecordgoodReviewerVO.c_title}"></td>
        <td class="td_bs" th:text="${recordRecordgoodReviewerVO.reviewerno}"></td>
        <td class="td_bs" th:text="${recordRecordgoodReviewerVO.reviewerid}"></td>
        <td class="td_bs" th:text="${recordRecordgoodReviewerVO.reviewername}"></td>
        <td class="td_bs">
          <a href="#" th:onclick="'delete_good(event, ' + ${recordRecordgoodReviewerVO.recordgoodno} + ');'"><img src="/recordgood/images/delete.png" class="icon" title="삭제"></a>
        </td>
      </tr>
    </tbody>
  </table>
  <script>
    function delete_good(e, recordgoodno) {
      let sw = confirm(recordgoodno + '번 글 삭제를 하시겠습니까?\n삭제하면 복구 할 수 없습니다.');
      if (sw == true) {
        document.querySelector('#recordgoodno').value = recordgoodno;
        document.querySelector('#frm').submit();
      }
    }
  </script>  
  <form name='frm' id='frm' method='post' action='/recordgood/delete'>
    <input type='hidden' name='recordgoodno' id='recordgoodno'>
  </form>
  
</div>










