<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속 -->
  <div layout:fragment="content">

    <div class="title_line">
      메모 삭제
    </div>

    <aside class="aside_right">
      <a th:href="|javascript:location.reload();|">새로고침</a>
      <span class="menu_divide">│</span>
      <a th:href="@{|/memo/list|}">목록</a>
      <span class="menu_divide">│</span>
      <a th:href="@{|/memo/create|}">등록</a>
    </aside>

    <div class="menu_line"></div>

    <fieldset class="fieldset_basic">
      <ul>
        <li class="li_none">
          <div style="text-align: center;">
            <span style="font-size: 1.5em;" th:text="${memoVO.memotitle}"></span>
            <br>
            <form name="frm" method="post" action="/memo/delete">
              <input type="hidden" name="memono" th:value="${memoVO.memono}">

              <br>
              <div style="margin-top: 20px; clear: both;">
                <span style="color: #FF0000; font-weight: bold;">
                  삭제를 진행하시겠습니까? 삭제하시면 복구할 수 없습니다.
                </span>
                <br><br><br>
                <button type="submit" class="btn btn-secondary btn-sm">삭제</button>
                <button type="button" onclick="history.back();" class="btn btn-secondary btn-sm">취소</button>
              </div>
            </form>
          </div>
        </li>
      </ul>
    </fieldset>

  </div>
</html>