<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속 -->
  <div layout:fragment="content">

    <div class="title_line">
      <div th:text="${memoVO.memotitle}"></div>
    </div>

    <aside class="aside_right">
      <a th:href="|javascript:location.reload();|">새로고침</a>
      <span class="menu_divide">│</span>
      <a th:href="@{|/memo/list_all|}">목록</a>
    
      <span class="menu_divide" th:if="${session.grade == 'admin'}">│</span>
      <a th:if="${session.grade == 'admin'}" th:href="@{|/memo/create|}">등록</a>
    
      <span class="menu_divide" th:if="${session.grade == 'admin'}">│</span>
      <a th:if="${session.grade == 'admin'}" th:href="@{|/memo/update?memono=${memoVO.memono}|}">수정</a>
    
      <span class="menu_divide" th:if="${session.grade == 'admin'}">│</span>
      <a th:if="${session.grade == 'admin'}" th:href="@{|/memo/delete?memono=${memoVO.memono}|}">삭제</a>
    </aside>


    <div class="menu_line"></div>

    <fieldset class="fieldset_basic">
      <ul>
        <li class="li_none">
          <div style="width: 100%; word-break: break-all;">
            <span style="font-size: 1.5em; font-weight: bold;" th:text="${memoVO.memotitle}"></span>
            <div style="white-space: pre-wrap;">
              <span style="display: block; text-align: left;" th:text="${memoVO.memocontent}"></span>
            </div>
          </div>
        </li>

        <li class="li_none" th:text="|등록일: ${memoVO.created_date}|"></li>
      </ul>
    </fieldset>

  </div>
</html>